# This file tells the gcloud CLI (used by Firebase) what to ignore when deploying.

# Default ignores
node_modules
.git
.gitignore

# Firebase and other local debug files
*.log
firebase-debug.log
firebase-debug.*.log
*.local
.env

# Now, we explicitly UN-ignore the directories our Next.js server needs.
# The '!' prefix is important. It means "do not ignore".
!/.next
!/public